.mainPage {
    background: #ededed;
    min-height: 100vh;
    height: auto;
}

.mainPage .header {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 3em;
    text-align: center;
    padding: .67em 0;
    color: #2b2b2b;
    text-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #ffffff;
    margin-bottom: 0.67em;
    text-transform: uppercase;
}

.mainPage .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 10vw;
    justify-content: center;
    padding-bottom: 3em;
}