.mainPage {
    width: 70%;
    margin: 0 auto;
}

.mainPage .search {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background: #ffffff;
    margin: 1em 0;
}

.search i {
    color: #8a8d8f;
    padding: 10px;
}

.search input {
    border: none;
    height: 100%;
}

.itemsList {
    background: #ffffff;
    margin-bottom: 20px;
}

.itemsList .header {
    margin: 0 20px;
    padding: 20px 0;
    display: grid;
    grid-template-columns: minmax(200px, 4fr) 1fr 1fr 1fr;
    font-style: italic;
    color: #00a485;
    justify-items: center;
    border-bottom: 1px solid #e6e6e6;

}

.header div:first-child {
    justify-self: left;
}

.header span {
    cursor: pointer;
    user-select: none;
}

.searchFail {
    text-align: center;
    padding: 20px;
}





